body, html {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.quiz-header {
    padding: 20px;
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

label {
    cursor: pointer;
}

#submite {
    background-color: #6c5ce7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

#submit:hover {
    background-color: #5758BB;
}